apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kf2-data
  namespace: killingfloor2
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 50Gi
